[Desktop Entry]
Type=Application
Name=heXon
GenericName=Astral Arcade
Comment=A FOSS twin-stick-shooter
Icon=hexon
TryExec=hexon
Exec=hexon
Terminal=false
Categories=Games;
Keywords=Twin-Stick-Shooter;Arcade;Game;